body {
    margin: 0;
    /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
    /*  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
    /*  sans-serif;*/
    font-family: Gotham SSm B,Gotham SSm A,Helvetica,Roboto,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home {
    height: 100%;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 10001;
}

.logo {
    width: 142px;
    height: 32px;
    cursor: pointer;
}

.menu {
    color: #fff;
    position: absolute;
    right: 50px;
    z-index: 10001;
    display: flex;
    align-items: center;
}

.hamburger-custom {
    background-color: transparent !important;
    padding: 0 !important;
}

.hamburger-custom > div > span {
    transition-duration: .3s;
}

.sidebar-content {
    height: 100%;
    background-color: #fff;
    padding: 50px 25px 25px;
    box-sizing: border-box;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-about {
    font-weight: 700;
    cursor: pointer;
    line-height: 1.6;
    font-size: 25px;
    transition: color .35s;
}
.text-about:hover,
.about-link > a:hover,
.menu-text:hover,
.category-link > a:hover {
    color: #fd0202;
}

.about-links-wrapper {
    margin-top: 40px;
}

.about-link {
    padding: 8px 0;
}

.about-link > a {
    color: #999;
    text-decoration: none;
    font-weight: 400;
    transition: color .35s;
}

.about-locations-wrapper {
    border-top: 2px solid #fd0202;
    padding-top: 10px;
}

.about-location {
    padding: 10px 0;
}

.about-location > a {
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
    color: #000;
}

.sidebar-logo {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.sidebar-logo > svg {
    fill: #fd0202 !important;
}

.sidebar-sections {
    margin-top: 40px;
}

.menu-separator {
    margin: 0 30px;
    width: 1px;
    background-color: #fff;
    height: 24px;
    display: inline;
}

.menu-text {
    font-weight: 700;
    cursor: pointer;
    transition: color .35s;
}

.categories-wrapper {
    margin-top: 60px;
}

.category-link {
    padding: 10px 0;
}

.category-link > a {
    font-size: 19px;
    color: #000;
    text-decoration: none;
    font-weight: 500;
    transition: color .35s;
}

.home-section {
    height: 100vh;
    width: 100%;
}

.footer {
    color: #fff;
    padding: 70px;
}

.footer-text {
    font-size: 25px;
    margin-bottom: 8px;
    font-weight: 600;
}

.footer-button {
    margin-top: 20px;
    border: 2px solid #fd0202;
    background-color: transparent;
    padding: 15px 30px;
    color: #fff;
    border-radius: 4px;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}
.footer-button:hover {
    background-color: #fd0202;
}